@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Identity Authentication</h1>
    <h2>Welcome, @ViewData["UserName"]</h2>
    <p>User ID: @ViewData["UserID"]</p>
</div>
